<h1>Complete Creating Your Account</h1>

<p>Some personal information is required to fully setup your account. This will better personalise your experience!</p>

<%= render 'form' %>

<%#= link_to 'Back', users_path %>
