<div id="homesignup">

    <fieldset class="floatright">
        <Legend class="legendtitle">Sign Up</legend>
            <div class="wrap">
                <p>Sign up for your free week trial!</p>
                <%= form_for @user, :url => { :controller => "users", :action => "create" }, :html => {:class => "sign_up"} do |f| %>
                    <%= label_tag(:email, "Email") %>
                    <%= text_field_tag(:email) %>
                    <%= f.submit "Create" %>
                <% end %>
            </div>
    </fieldset>
</div>