<div id="homepage">
    <div id="homecontent">
        <h1>Who are we?</h1>

        <p>We are your renovation solutions. Providing services for you is what we are here for. When it comes to managing a large project to just the do it yourself job, this web site can help you.</p>
        <p>When you sign up, the content you receive is based on the membership you obtain. We provide:</p>
        <ul>
            <li>Job managing utilities..</li>
            <li>Expert material information and pricing..</li>
            <li>A unique custom interface for working with you project..</li>
            <li>And custom quote engine!</li>
        </ul>
    </div>
    <% if current_user.nil? %>
        <%= render :partial => "shared/sign_up" %>
    <% end %>
</div>