<div id="homepage">
        
        <div style="width:50%; margin: auto;">
        	<h1>Welcome</h1>
        	<img style="float: left;" src="http://www.funmastiunlimited.com/wp-content/uploads/2011/04/poonam-pandey-hot-bikini-pictures-18-500x333.jpg" alt="clients" width="300" height="250"/>
        	<img style="float: left;" src="http://www.imperialmeasures.com/wp-content/uploads/2011/05/general-contractor-license-florida.jpg" alt="contractors" width="300" height="250"/>
        </div>
</div>