<div id="homepage">
    <div id="homecontent">
        <h1>Welcome</h1>
        
        <p>Manage your at home work easily. Access your work schedule and tasks from anywhere!
        We have you covered.</p>
    </div>
    <% if current_user.nil? %>
        <%= render :partial => "shared/sign_up" %>
    <% end %>
</div>